* {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 1;
    border-bottom: 1px solid darkslategrey;
}

.dot {
    padding: 6px;
}

.dot:last-child {
    display: none;
}

a {
    text-decoration: none;
}

.content {
    flex-grow: 1;
}

.ad {
    padding: 2% 4%;
}

.ad .image {
    margin: 1rem;
}

.ad .text {
    height: 60%;
    width: fit-content;
}

.card {
    border-radius: 0% !important;
    margin: 1%;
}


.map {
    width: 90%;
    height: 40vw;
    margin: 2%;
    overflow: hidden;
}

.contact {
    width: 18vw !important;

}

.text-indent {
  text-indent: 1.5rem;
}

.w-45 {
    width: 45% !important;
}

.card-img-top {
    width:  100% !important;
    height: 250px !important;
    object-fit: cover !important;
}

@media screen and (width <= 991px) {
    .dot {
        display: none;
    }

    .contact {
        width: 100% !important;
    }
}

@media screen and (width <= 767px) {
    .flexpart {
        width: 80vw;
    }

    .content {
        padding: 0 !important;
    }

    .ad .image {
        margin: 0 !important;
    }

    .map {
        width: 90%;
        height: 70vw;
    }
}

@media screen and (width >= 768px) {
    .flexpart {
        width: 30vw;
    }
}

@media screen and (width >= 1401px) {
    .flexpart {
        width: 20vw;
    }
    
}

@media screen and (width >= 1401px) {
    .flexpart {
        width: 20vw;
    }
    
}